body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 19px;
}

* {
  font-family: 'Inter', sans-serif;
}

a {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

a:active {
  opacity: 0.6;
}

.project-title {
  font-weight: 600;
}
.project-years {
  color: #333;
}
.photo-caption, 
.grey-caption,
.grey-caption a {
  color: #888;
}